@mixin barra-menu {
    height: 4px;
    width: 30px;
    background: white;
    margin-bottom: 4px;
    transition: 0.5s;
}

.container__header {

    .cabecalho {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem;
        padding: 0 1rem;
        background: black;

        .menu__hanburguer {
            cursor: pointer;

            .barraMenu {
                @include barra-menu();
            }
        }

        .container__navBar {
            display: none;
            position: absolute;
            color: $branco;
            top: 0;
            right: 0;
            background: $cinza-escuro;
            height: 220px;
            width: 150px;
            transition: 0.5s ease-in-out;

            .navBar {
                display: flex;
                flex-direction: column;
                padding: 1em 1.5em;
                gap: 1em;

                li {
                    padding-bottom: 10px;
                    border-bottom: 1px solid $branco;
                    cursor: pointer;

                    .fecharMenu {
                        cursor: pointer;

                        .barraMenuFechar {
                            @include barra-menu();
                            background: $verde-menu-humburger;
                        }

                        #barra-1 {
                            transform: translateY(9px) rotate(-45deg);
                        }

                        #barra-2 {
                            opacity: 0;
                        }

                        #barra-3 {
                            transform: translateY(-7px) rotate(45deg);
                        }
                    }

                    &:nth-child(1) {
                        border-bottom: none;
                        padding-bottom: 2px;
                        text-align: right;
                    }

                    &:nth-last-child(1) {
                        border-bottom: none;
                    }
                }
            }
        }
    }

    .container__pesquisa {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding: 2em 0;

        .pesquisa {
            width: 230px;
            height: 40px;
            border: 1px solid black;

            &::placeholder {
                padding-left: 15px;
            }
        }

        .botao__pesquisa {
            background: $branco;
            width: 100px;
            height: 40px;
            border: 1px solid black;
            font-weight: 500;
            font-size: $tamanho-da-fonte + 0.2;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: $preto;
                color: $branco;
                transition: 0.6s;
            }
        }
    }

    .container__banner {
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100vw;
        position: relative;

        .container__img {
            display: flex;

            .img__itens {
                position: relative;
                width: 100vw;
                text-align: center;
                transition: all 1s;

                .img__banner {
                    height: 60vh;
                }

                .tablet--banner {
                    display: none;
                }

                .desktop--banner {
                    display: none;
                }

                .banner__rosa {
                    width: 100%;
                    height: 30vh;
                    background-color: $rosa-banner;
                    position: absolute;
                    bottom: 0;
                }

                .banner__laranja {
                    width: 100%;
                    height: 30vh;
                    background-color: $laranja-banner;
                    position: absolute;
                    bottom: 0;
                }

                .banner__texto {
                    font-size: $tamanho-da-fonte + 1;
                    color: $branco;
                    font-weight: 500;
                    width: 150px;
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .banner__descricao {
                    position: absolute;
                    color: $branco;
                    top: 70%;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &:first-child {
                    margin-left: -100vw;
                    transition: all 1s;
                }
            }

            //.item {
            //    width: 100vw;
            //    transition: all 1s;
            //
            //    &:first-child {
            //        margin-left: -100vw;
            //        transition: all 1s;
            //    }
            //}
        }

        .botao__banner {
            width: 100px;
            height: 100px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            color: white;
            font-size: $tamanho-da-fonte + 0.5;
            cursor: pointer;
        }

        #botao__esquerdo {
            left: 15px;
        }

        #botao__direito {
            right: 15px;
        }

        .barra__carrossel {
            display: flex;
            position: absolute;
            gap: 1em;
            top: 90%;
            left: 50%;
            transform: translateX(-50%);

            .barra__item {
                width: 70px;
                height: 5px;
                background: rgba($color: $branco, $alpha: 30%);
            }
        }
    }
}