.modal__email__cadastrado {
    display: none;
    flex-direction: column;
    background: $branco;
    box-shadow: 2px 2px 10px 3px $cinza-claro;
    width: 350px;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translateX(-50%);

    .header__email__cadastrado {
        display: flex;
        justify-content: space-between;
        background: $preto;

        .icon__checked {
            margin: 0 1em 0 1em;
        }

        .modal__texto__header {
            font-size: $tamanho-da-fonte + 0.3;
            color: $branco;
            font-weight: 500;
            padding: 0.7em 0 0.7em;
        }

        .icon__fechar {
            margin-right: 1em;
            cursor: pointer;

            img {
                max-width: 16px;
                max-height: 16px;
                transition: 0.5s;

                &:hover {
                    background: rgba($color: $cinza-claro, $alpha: 50%);
                    border-radius: 20px;
                    transition: 1s;
                }
            }
        }
    }

    span {
        padding: 1em 1em 2.5em 1em;
    }
}