.container__produtos {
    display: flex;
    flex-direction: column;
    padding: 3em 0;
    gap: 2em;

    .titulo__produtos {
        font-size: $tamanho-da-fonte + 0.7;
        font-weight: 500;
        text-align: center;
    }

    .produtos__itens {
        display: flex;
        flex-direction: column;
        border: 1px solid rgba($color: $cinza-claro, $alpha: 15%);
        width: 90vw;
        margin: 0 auto;
        gap: 1em;

        img {
            width: 90vw;
        }

        .card__titulo {
            font-weight: 700;
            padding-left: 1em;
        }

        .card__texto {
            font-size: $tamanho-da-fonte - 0.2;
            padding-left: 1em;
            line-height: 16px;
        }

        .preco {
            font-weight: 700;
            padding-left: 1em;
        }

        .ver__mais {
            width: 6.5rem;
            height: 2.5rem;
            background-color: $cor-botao;
            color: $branco;
            font-weight: 500;
            margin: 0 0 1em 1em;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background: $branco;
                color: $cor-botao;
                border: 1px solid $cor-botao;
                transition: 0.6s;
            }
        }
    }
}