@media screen and (min-width:768px) {
//Header
    .container__header {
        display: grid;

        .cabecalho {
            justify-content: unset;

            .menu__hanburguer {
                display: none;
            }

            .container__navBar {
                display: flex;
                width: 41%;
                height: 50px;
                background: none;
                position: relative;

                .navBar {
                    display: flex;
                    flex-direction: row;
                    padding: 16px 0;

                    li {
                        border-bottom: none;
                        white-space: nowrap;

                        .fecharMenu {
                            display: none;
                        }
                    }
                }
            }
        }

        .container__pesquisa {
            position: absolute;
            top: 12px;
            right: 8px;
            padding: 0;

            .pesquisa {
                width: 130px;

                &::placeholder {
                    font-size: $tamanho-da-fonte - 0.3;
                }
            }

            .botao__pesquisa {
                width: 70px;
                height: 38px;
                font-size: $tamanho-da-fonte - 0.1;
                border: 1px solid $branco;
                color: $branco;
                background: $preto;

                &:hover {
                    box-shadow: inset 3px 1px 35px 5px #ffffff80;
                }
            }
        }

        //.container__banner {}
    }

//________________________________________________________________________

//categoria   
    .container__categoria {
        grid-template-columns: repeat(3,auto);

        h2 {
            grid-column: 1/4;
        }

    }
//________________________________________________________________________

//Produtos
    .container__produtos {
        display: grid;
        grid-template-columns: repeat(2,auto);
        gap: 1em 0;

        .titulo__produtos {
            grid-column: 1/3;
            padding-bottom: 1em;
        }

        .produtos__itens {
            width: 45vw;

            img {
                width: 45vw;
            }
        }   
    }

//________________________________________________________________________

//Facilidade
    .container__facilidades {
        h2 {
            font-size: $tamanho-da-fonte + 1;
        }

        .facilidades__itens {
            img {
                width: 70px;
            }
        }
    }

//________________________________________________________________________

//Newletter
    .container__newletter {
        padding: 1em 1em 3em 1em;
        .texto__newletter {
            font-size: $tamanho-da-fonte + 0.2;
        }

        .container__enviarEmail {
            justify-content: center;
            .campo__email {
                width: 50%;
            }

            .botao__enviar {
                width: 15%;
            }
        }
    }  

//________________________________________________________________________

//Footer
    .rodape {
        .rodape__texto {
            width: 35em;
        }
    }
}