.rodape {
    background: $preto;
    width: 100%;

    .rodape__texto {
        margin: 0 auto;
        width: 19em;
        line-height: 17px;
        color: $branco;
        text-align: center;
        padding: 2em 0;
        font-size: $tamanho-da-fonte - 0.2;
    }
}