//cores da pagina

$preto: black;
$branco: white;
$verde-menu-humburger:#DAFF01;
$cinza-claro: #6C757D;
$cor-botao: #9353FF;

//fontes da pagina

$fonte-principal: "Inter" ,sans-serif;
$tamanho-da-fonte: 1rem;